<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:with="content=${request.adaptTo(@com.audi.sling.JumbotronContent@class)}"
      th:remove="tag">
<head th:remove="tag">
    <link rel="stylesheet" href="../../etc/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="clientlibs/main.css">
    <script data-main="clientlibs/main" src="../../etc/vendor/require.js"></script>
</head>

<body th:remove="tag">
<div class="container" th:remove="tag">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner" th:remove="all-but-first">
            <div th:each="slide : ${content.slides}" th:class="${slideStat.first} ? 'item active' : 'item'">
                <img th:src="${slide.image}" th:alt="${slide.heading}">
            </div>
            <div class="item active">
                <img src="images/slide1.png" alt="First Slide">
            </div>
            <div class="item">
                <img src="images/slide2.png" alt="Second Slide">
            </div>
            <div class="item">
                <img src="images/slide3.png" alt="Third Slide">
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

</body>
</html>