<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="content=${request.adaptTo(@com.audi.sling.TestContent@class)}">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
<p data-th-text="${content.title}">Title</p>
<p data-th-text="${content.subtitle}">Title</p>
</body>
</html>